<app-header></app-header>
<div class="mainview">
    <h1 style="text-align: center; font-size: 30px;margin-top: 20px;">About Us</h1>
    <hr>
    <div class="textview" *ngIf="!deviceXs">
        Our website is designed for the agriculture and aquaculture purpose. This website is the first in designing both agriculture and
        aquaculture purpose. And here the farmers and fishermans will be benifited. And this is desined for the citizens also for buying the
         agriulture products and aquaculture products.
    </div>
    <div *ngIf="deviceXs">
        Our website is designed for the agriculture and aquaculture purpose. This website is the first in designing both agriculture and
        aquaculture purpose. And here the farmers and fishermans will be benifited. And this is desined for the citizens also for buying the
         agriulture products and aquaculture products.
    </div>
    <div>
        <mat-card>
            <div class="total">
                <div class="image"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSUlVkKm_L383OFQ6M5TT4AUBmCvRtXx-v2Tw&usqp=CAU" alt="imran"></div>
                <div class="imageleft">
                    <h2>Imran Ali Khan</h2>
                    <p>Web developer</p>
                </div>
            </div>
        </mat-card>
        <mat-card>
            <div class="total">
                <div class="image"><img src="https://fsa.zobj.net/crop.php?r=TahoN_g136PNaxNTd0BYdAL-ekOaXa2upGZQXzTyNSGyz5-_ZLuA8SUUeCjaw1Oe-Yp6_DyOq_vUDuyR5Nn79DqRXYft6e8E8qOE_8uYe3oA-_5b3q7UZjHKP3ve26mlwiUVk6u6TV1P06Lr" alt="Siddharth"></div>
                <div class="imageleft">
                    <h2>Siddharth Varma</h2>
                    <p>DataBase Designer</p>
                </div>
            </div>
        </mat-card>
        <mat-card>
            <div class="total">
                <div class="image"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTFjlHs0tf8j9-sYx6O1CNHDI2B-LIef9eyfg&usqp=CAU" alt="imran"></div>
                <div class="imageleft">
                    <h2>Sai Venkata Tejaswini</h2>
                    <p>AI Developer</p>
                </div>
            </div>
        </mat-card>
        <mat-card>
            <div class="total">
                <div class="image"><img src="https://fsb.zobj.net/crop.php?r=D7rm2UKPUbqU_DwvfdWirl766FNYaWWVZOdefsf0Bq2_QiuO7WBNQ75mL43AeSxz_7wHjtTVeOz2gSajJbLLyKgHDSyT1_atO5Tuf_l0hg-Sp9FVt35YvLeWG-_4ze04oTtCqllG7fY45J3V" alt="imran"></div>
                <div class="imageleft">
                    <h2>Reshma Venigala</h2>
                    <p>Software Designer</p>
                </div>
            </div>
        </mat-card>
        <mat-card>
            <div class="total">
                <div class="image"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSUlVkKm_L383OFQ6M5TT4AUBmCvRtXx-v2Tw&usqp=CAU" alt="imran"></div>
                <div class="imageleft">
                    <h2>N Vijay Kumar</h2>
                    <p>Database Administartor</p>
                </div>
            </div>
        </mat-card>
    </div>
</div>